bin/
obj/
build/
debug-logs/
*.user
*.suo
*.tmp
.vs/
*.local-export.tiled.json
unity-compile.log
unity/Library/
unity/Temp/
unity/Logs/
unity/UserSettings/
unity/MemoryCaptures/
unity/Recordings/
unity/Builds/
unity/*.csproj
unity/*.sln
