*.cs text eol=crlf
*.ps1 text eol=crlf
*.md text=auto

*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.dll binary
*.pdb binary
*.fbx binary
*.wav binary
*.mp3 binary
